In [36]:
NPM = input("Masukkan NPM: ")
print("NPM Anda adalah: ", NPM)

bilangan_genap = 0
bilangan_ganjil = 0

if bilangan_genap % 2 == 0:
  bilangan_genap += 2
else:
    bilangan_ganjil += 1

print("Jumlah bilangan genap: ", bilangan_genap)
print("Jumlah bilangan ganjil: ", bilangan_ganjil)

Masukkan NPM: 2420506021
NPM Anda adalah:  2420506021
Jumlah bilangan genap:  2
Jumlah bilangan ganjil:  0

In [6]:
seg = int(input("Masukkan jumlah baris untuk segitiga angka: "))

for i in range(1, seg + 1):
    for j in range(1, i + 1):
        print(j, end=" ")

    print()

Masukkan jumlah baris untuk segitiga angka: 10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10